# OS-specific
.DS_Store

# Vagrant stuff
/.vagrant

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
/Gemfile.lock
test/tmp/
vendor/

# IDE junk
.idea/*
*.iml
.project

# Ruby Managers
.rbenv
.ruby-gemset
.ruby-version
.rvmrc
